{% extends 'paykaro_app/layouts/base.html' %}
{% block content %}
 <h2>Register</h2>
<form method="POST">
    {% csrf_token %}
    <label for="id_f_name">First Name:</label>
    {{ form.f_name }}

    <label for="id_l_name">Last Name:</label>
    {{ form.l_name }}

    <label for="id_emp_email">Email:</label>
    {{ form.emp_email }}

    <label for="id_emp_pass">Password:</label>
    {{ form.emp_pass }}

    <label for="id_role">Role:</label>
    {{ form.role }}

    <button type="submit">Sign Up</button>
</form>

    <p>Already have an account? <a href="{% url 'employee_login' %}">Employee login</a> | <a href="{% url 'manager_login' %}">Manager login</a></p>
{% endblock %}
